<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab04 - Таблица Трисемуса</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <ul class="nav justify-content-center mt-4">
        <li class="nav-item">
            <a class="nav-link active" href="/caesar">Шифр Цезаря</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/trithemius">Таблица Трисемуса</a>
        </li>
    </ul>
    <h3 class="text-center mt-4">Таблица Трисемуса</h3>
    <table class="table table-bordered">
        <tbody>
        <% for (let i = 0; i < table.length; i++) { %>
            <tr>
                <% for (let j = 0; j < table[i].length; j++) { %>
                    <td><%= table[i][j] %></td>
                <% } %>
            </tr>
        <% } %>
        </tbody>
    </table>

    <table class="table table-bordered mt-4">
        <thead>
        <tr>
            <th scope="col">Зашифрованный текст (<%= encodingTime %> мс)</th>
            <th scope="col">Расшифрованный текст (<%= decodingTime %> мс)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><p style="word-break: break-all; word-wrap: break-word;"><%= trithemiusText %></p></td>
            <td><p style="word-break: break-all; word-wrap: break-word;"><%= originalText %></p></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>